<div class="container mt-5 w-50 text-center">
    <div class="card">
      <h5 class="card-header">Forgot Password</h5>
      <div class="card-body">
        <h5 class="card-title" *ngIf="!new_password && !submitted">Enter your username</h5>
  
       

        <div *ngIf="submitted">
            Username : <strong>{{username}}</strong>
        </div>

        <div class="col-lg-6 m-auto" *ngIf="!new_password && !submitted">
            <input type="any" class="form-control" name="code" [(ngModel)]="username" placeholder="Enter username">
        </div>

        <div class="col-lg-4 m-auto" *ngIf="submitted">
            <input type="any" class="form-control w-10 m-2" name="code" [(ngModel)]="code" placeholder="Enter code">
            <input type="password" class="form-control w-10 m-2" name="code" [(ngModel)]="new_password" placeholder="Enter new password">

        </div>    
        
        <a class="btn btn-primary mt-4" *ngIf="!new_password && !submitted" (click)="forgotPassword()" >Submit</a>
        <a class="btn btn-primary mt-4" *ngIf="username && submitted" (click)="verifyAndChangePassword()">Verify & Change Password</a>

      </div>
    </div>
  </div>
  
  