::ng-deep .mat-progress-bar {
    border-radius: 10px;
}
.progressColumn {
    padding-left : 5em;
}
.progress {
    width: 10em;
    position: relative;
}
table {
    width : 100%;
}
p {
    font-size: 2em;
    font-weight: 500;
}
.table {
    overflow-x: auto;
    overflow-x: scroll;
    overflow-y: scroll;
    &::-webkit-scrollbar { width: 0 !important }

}
.percentage {
    position: absolute;
    right:0em;
    top:-1.3rem;
    font-size: small;
    color: rgb(128, 126, 126);
}
