<mat-card class="mat-elevation-z10 cards">
    <p>Projects</p>
    <div class="table">
    <table mat-table [dataSource]="dataSource" >
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
      
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
 
        <ng-container matColumnDef="progress" class="progressColumn">
            <th mat-header-cell *matHeaderCellDef> Progress </th>
            <td mat-cell *matCellDef="let element"> 
                <div class="progress">
                    <div class="percentage">{{element.progress}}%</div>
                    <mat-progress-bar mode="determinate" value="{{element.progress}}"></mat-progress-bar>
                  </div>
            </td>
        </ng-container> 

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
</mat-card>