<div
  class="sidenav_container"
  [@onSideNavChange]="sideNavState ? 'open' : 'close'"
>
  <div fxLayout="column" fxLayoutGap="10px" style="height: 100%">
    <div class="user_menu">
      <mat-nav-list>
        <button mat-icon-button (click)="onSidenavToggle()">
          <mat-icon class="btn" *ngIf="sideNavState">arrow_left</mat-icon>
          <mat-icon class="btn" *ngIf="!sideNavState">arrow_right</mat-icon>
        </button>

        <div *ngIf="sideNavState" mat-subheader>Main</div>
        <a mat-list-item (click)="toggleList('dashboard')">
          <mat-icon mat-list-icon>shutter_speed</mat-icon>
          <p *ngIf="sideNavState" matLine>Dashboard</p>
          <span *ngIf="sideNavState && !showdashboard" class="material-icons"
            >keyboard_arrow_right</span
          >
          <span class="material-icons" *ngIf="sideNavState && showdashboard">
            keyboard_arrow_down
          </span>
        </a>
        <div *ngIf="showdashboard && sideNavState">
          <mat-list *ngFor="let dashboard of dashboard" role="list">
            <mat-list-item
              routerLink='/{{dashboard.listName}}'
              class="list-item"
              role="listitem"
              >{{ dashboard.listName }}</mat-list-item
            >
          </mat-list>
        </div>
        <a mat-list-item (click)="toggleList('apps')">
          <mat-icon mat-list-icon>apps</mat-icon>
          <p *ngIf="sideNavState" matLine>Apps</p>
          <span *ngIf="sideNavState && !showapps" class="material-icons"
            >keyboard_arrow_right</span
          >
          <span class="material-icons" *ngIf="sideNavState && showapps">
            keyboard_arrow_down
          </span>
        </a>
        <div class="list" *ngIf="showapps && sideNavState">
          <mat-list *ngFor="let app of apps" role="list">
            <mat-list-item class="list-item" role="listitem">{{
              app.listName
            }}</mat-list-item>
          </mat-list>
        </div>

        <div *ngIf="sideNavState" mat-subheader>Employees</div>

        <a mat-list-item (click)="toggleList('employees')">
          <mat-icon mat-list-icon>person</mat-icon>
          <p matLine *ngIf="sideNavState">Employees</p>
          <span *ngIf="sideNavState && !showemployees" class="material-icons"
            >keyboard_arrow_right</span
          >
          <span class="material-icons" *ngIf="sideNavState && showemployees">
            keyboard_arrow_down
          </span>
        </a>
        <div *ngIf="showemployees && sideNavState">
          <mat-list *ngFor="let emp of employees" role="list">
            <mat-list-item class="list-item" role="listitem">{{
              emp.listName
            }}</mat-list-item>
          </mat-list>
        </div>
        <a mat-list-item>
          <mat-icon mat-list-icon>groups</mat-icon>
          <p matLine *ngIf="sideNavState">Clients</p>
        </a>
        <a mat-list-item (click)="toggleList('projects')">
          <mat-icon mat-list-icon>flight_takeoff</mat-icon>
          <p matLine *ngIf="sideNavState">Projects</p>
          <span *ngIf="sideNavState && !showprojects" class="material-icons"
            >keyboard_arrow_right</span
          >
          <span class="material-icons" *ngIf="sideNavState && showprojects">
            keyboard_arrow_down
          </span>
        </a>
        <div *ngIf="showprojects && sideNavState">
          <mat-list *ngFor="let project of projects" role="list">
            <mat-list-item class="list-item" routerLink="/{{project.listName}}" role="listitem">{{
              project.listName
            }}</mat-list-item>
          </mat-list>
        </div>
        <a mat-list-item>
          <mat-icon mat-list-icon>engineering</mat-icon>
          <p matLine *ngIf="sideNavState">Leads</p>
        </a>
        <a mat-list-item>
          <mat-icon mat-list-icon>confirmation_number</mat-icon>
          <p matLine *ngIf="sideNavState">Tickets</p>
        </a>

        <div *ngIf="sideNavState" mat-subheader>HR</div>

        <a mat-list-item (click)="toggleList('accounts')">
          <mat-icon mat-list-icon>question_answer</mat-icon>
          <p matLine *ngIf="sideNavState">Accounts</p>
          <span *ngIf="sideNavState && !showaccounts" class="material-icons"
            >keyboard_arrow_right</span
          >
          <span class="material-icons" *ngIf="sideNavState && showaccounts">
            keyboard_arrow_down
          </span>
        </a>
        <div *ngIf="showaccounts && sideNavState">
          <mat-list *ngFor="let account of accounts" role="list">
            <mat-list-item class="list-item" role="listitem">{{
              account.listName
            }}</mat-list-item>
          </mat-list>
        </div>
        <a mat-list-item (click)="toggleList('payroll')">
          <mat-icon mat-list-icon>payments</mat-icon>
          <p matLine *ngIf="sideNavState">Payroll</p>
          <span *ngIf="sideNavState && !showpayroll" class="material-icons"
            >keyboard_arrow_right</span
          >
          <span class="material-icons" *ngIf="sideNavState && showpayroll">
            keyboard_arrow_down
          </span>
        </a>
        <div *ngIf="showpayroll && sideNavState">
          <mat-list *ngFor="let pay of payroll" role="list">
            <mat-list-item class="list-item" role="listitem">{{
              pay.listName
            }}</mat-list-item>
          </mat-list>
        </div>
        <a mat-list-item>
          <mat-icon mat-list-icon>policy</mat-icon>
          <p matLine *ngIf="sideNavState">Policies</p>
        </a>
        <a mat-list-item (click)="toggleList('reports')">
          <mat-icon mat-list-icon>summarize</mat-icon>
          <p matLine *ngIf="sideNavState">Reports</p>
          <span *ngIf="sideNavState && !showreports" class="material-icons"
            >keyboard_arrow_right</span
          >
          <span class="material-icons" *ngIf="sideNavState && showreports">
            keyboard_arrow_down
          </span>
        </a>
        <div class="list" *ngIf="showreports && sideNavState">
          <mat-list *ngFor="let report of reports" role="list">
            <mat-list-item class="list-item" role="listitem">{{
              report.listName
            }}</mat-list-item>
          </mat-list>
        </div>
        <div *ngIf="sideNavState" mat-subheader>Performmance</div>

        <a mat-list-item (click)="toggleList('performmance')">
          <mat-icon mat-list-icon>school</mat-icon>
          <p matLine *ngIf="sideNavState">Performmance</p>
          <span *ngIf="sideNavState && !showperform" class="material-icons"
            >keyboard_arrow_right</span
          >
          <span class="material-icons" *ngIf="sideNavState && showperform">
            keyboard_arrow_down
          </span>
        </a>
        <div *ngIf="showperform && sideNavState">
          <mat-list *ngFor="let per of performmance" role="list">
            <mat-list-item class="list-item" role="listitem">{{
              per.listName
            }}</mat-list-item>
          </mat-list>
        </div>
        <a mat-list-item (click)="toggleList('training')">
          <mat-icon mat-list-icon>import_contacts</mat-icon>
          <p matLine *ngIf="sideNavState">Training</p>
          <span *ngIf="sideNavState && !showtraining" class="material-icons"
            >keyboard_arrow_right</span
          >
          <span class="material-icons" *ngIf="sideNavState && showtraining">
            keyboard_arrow_down
          </span>
        </a>
        <div *ngIf="showtraining && sideNavState">
          <mat-list *ngFor="let train of training" role="list">
            <mat-list-item class="list-item" role="listitem">{{
              train.listName
            }}</mat-list-item>
          </mat-list>
        </div>
        <a mat-list-item>
          <mat-icon mat-list-icon>campaign</mat-icon>
          <p matLine *ngIf="sideNavState">Promotion</p>
        </a>

        <div *ngIf="sideNavState" mat-subheader>Administration</div>

        <a mat-list-item>
          <mat-icon mat-list-icon>school</mat-icon>
          <p matLine *ngIf="sideNavState">Assests</p>
        </a>
        <a mat-list-item>
          <mat-icon mat-list-icon>work</mat-icon>
          <p matLine *ngIf="sideNavState">Jobs</p>
        </a>
        <a mat-list-item>
          <mat-icon mat-list-icon>notification_important</mat-icon>
          <p matLine *ngIf="sideNavState">Activities</p>
        </a>
        <a mat-list-item>
          <mat-icon mat-list-icon>group_add</mat-icon>
          <p matLine *ngIf="sideNavState">Users</p>
        </a>
        <a mat-list-item>
          <mat-icon mat-list-icon>settings_suggest</mat-icon>
          <p matLine *ngIf="sideNavState">Settings</p>
        </a>
        <div *ngIf="sideNavState" mat-subheader>Account Settings</div>
        <a mat-list-item>
          <mat-icon mat-list-icon>person_pin</mat-icon>
          <p matLine *ngIf="sideNavState">Profile</p>
        </a>
        <a mat-list-item (click)="toggleList('authentication')">
          <mat-icon mat-list-icon>vpn_lock</mat-icon>
          <p matLine *ngIf="sideNavState">Authentication</p>
          <span *ngIf="sideNavState && !showauth" class="material-icons"
            >keyboard_arrow_right</span
          >
          <span class="material-icons" *ngIf="sideNavState && showauth">
            keyboard_arrow_down
          </span>
        </a>
        <div *ngIf="showauth && sideNavState">
          <mat-list *ngFor="let auth of authentication" role="list">
            <mat-list-item class="list-item" role="listitem">{{
              auth.listName
            }}</mat-list-item>
          </mat-list>
        </div>
      </mat-nav-list>
    </div>
  </div>
</div>
