@import "../../../../variables";
.sidenav_container {
  min-width: 60px;
  height: 100%;
  overflow-y: scroll;
  &::-webkit-scrollbar{width: 0  !important}
}

.mat-nav-list{
  background-color: $darkslategray;

}
.material-icons{
  color: $white;
}
p{
  color: $white;
  opacity: 0.8;
}
.btn{
 font-size: 50px;

}
.mat-subheader{
  color: $white;

}

.list-item{
  color: $white;
  opacity: 0.8;
  // margin-left: 2%;
}
