<mat-card class="example-card">
  <mat-card-title>EXPERIENCE DETAILS</mat-card-title>
  <mat-card-header>
    <mat-card-title class="title">Web Designer at Zen Corporation</mat-card-title>
    <mat-card-subtitle>Jan 2013 - Present (5 years 2 months)</mat-card-subtitle>
</mat-card-header>
<mat-card-header>
  <mat-card-title class="title">Web Designer at Ron-tech</mat-card-title>
  <mat-card-subtitle>Jan 2013 - Present (5 years 2 months)</mat-card-subtitle>
</mat-card-header>
<mat-card-header>
  <mat-card-title class="title">Web Designer at Dalt Technology</mat-card-title>
  <mat-card-subtitle>Jan 2013 - Present (5 years 2 months)</mat-card-subtitle>
</mat-card-header>
</mat-card>