<mat-card  class="mat-elevation-z10 cards profile">
  <div class="image">
    <img src="https://bit.ly/3krXPUK" alt="" />
  </div>
  <div class="name">Gowtham S</div>
  <div class="designation">Intern</div>
  <div class="location">
    <span class="material-icons">location_on</span>
    <span>Presidio, Chennai</span>
  </div>
</mat-card>
