.profile {
    text-align: center;
}
img {
    width: 10em;
    height: 10em;
    border-radius: 50%;
    margin: 1em 0 1em 0;
}
.name {
    font-weight: 500;
    font-size: 1.3em;
}
.designation {
    color : rgb(136, 136, 136);
}
.location {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(23, 143, 255);
    font-weight: 450;
}
.material-icons {
    color: rgb(23, 143, 255);
    background-color: rgb(134, 224, 252);
    border-radius: 50%;
    transform: scale(0.7);
}