.example-card {
  // background-image: url('../../../assets/images/header-cover.jpg');
  max-width: 400px;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
 &:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
 }
}
