$icon-color: rgb(20, 122, 255);
$sub-heading : rgb(138, 138, 138);
$count-background : rgb(221, 221, 221);
$content-color : #000000;
$background-color : #ffffff;
$card-background : #ffffff;
$darkslategray : #34444c;
$white : #ffffff;
$black: #111111;
$blue : rgb(20, 122, 255);