<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between">
    <div class="d-flex">
        <a class="navbar-brand" [routerLink]="['/home']">Home</a>
    </div>
    <div class="d-flex justify-content-end">         
            <div><button class="btn btn-primary mx-2" *ngIf="!isSignedIn()" [routerLink]="['/signup']">Signup</button></div> 
            <div><button class="btn btn-info" *ngIf="!isSignedIn()" [routerLink]="['/signin']">Login</button></div>       
            <div><button class="btn btn-primary" *ngIf="isSignedIn()" (click)="handleSignout()">Logout</button></div>      

    </div>      
</nav>