<mat-vertical-stepper class="stepper-class" [linear]="isLinear" #stepper>
  <mat-step
    [stepControl]="firstFormGroup"
    errorMessage="FirstName is required."
  >
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>FirstName</ng-template>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input
          matInput
          placeholder="First name"
          formControlName="firstCtrl"
          required
        />
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step
    [stepControl]="secondFormGroup"
    errorMessage="LastName is required."
  >
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>LastName</ng-template>
      <mat-form-field>
        <mat-label>LastName</mat-label>
        <input matInput formControlName="secondCtrl" required />
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="thirdFormGroup" errorMessage="Email is required.">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Email</ng-template>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput formControlName="thirdCtrl" required />
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step
    [stepControl]="fourthFormGroup"
    errorMessage="Phone Number is required."
  >
    <form [formGroup]="fourthFormGroup">
      <ng-template matStepLabel>Phone Number</ng-template>
      <mat-form-field>
        <mat-label>Phone Number</mat-label>
        <input matInput formControlName="fourthCtrl" required />
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="fifthFormGroup" errorMessage="Address is required.">
    <form [formGroup]="fifthFormGroup">
      <ng-template matStepLabel>Addreess</ng-template>
      <mat-form-field>
        <mat-label>Address</mat-label>
        <input
          matInput
          formControlName="fifthCtrl"
          placeholder="Ex. 1 Main St, New York, NY"
          required
        />
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="sixthFormGroup">
    <button type="button" mat-raised-button (click)="fileInput.click()">
      Choose File to Upload
    </button>
    <input
      hidden
      (change)="onFileSelected($event.target.files)"
      #fileInput
      type="file"
    />
    <button type="button" mat-raised-button (click)="onUpload()">Upload</button>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>

  <mat-step [stepControl]="seventhFormGroup">
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
      <button mat-button (click)="openDialog()">Submit</button>
    </div>
  </mat-step>
</mat-vertical-stepper>
