$darkslateblue : #3f51b5;
$darkslategray : #34444c;
$corallight : #ff8b52;
$coraldark: #b94126;
$white : #ffffff;

.mat-icon{
  color:$white;
  font-size: 36px;
  cursor: pointer;
}
.mat-toolbar {
  
  background-image: linear-gradient(to right, $corallight , $coraldark );
  color: $white;
  
}
.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;

}
.mat-icon{
  color: $white
 
}

.icons{
  font-size: 16px;
  margin-left: 30px;
  color: $white;
}

