
 <mat-toolbar class="example-toolbar">
    <mat-icon class="menu-icon" (click)="sidenav.toggle()">menu</mat-icon>
    <span class="example-fill-remaining-space"></span>

    <mat-icon [matMenuTriggerFor]="profile"> account_circle </mat-icon>

    <mat-menu #profile="matMenu">
      <button mat-menu-item>
        <span routerLink="/profile">Profile</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item>
        <span>Logout</span>
      </button>
    </mat-menu>
  </mat-toolbar>

