.example-list {
  width: 100%;
  max-width: 100%;
  min-height: 60px;
  display: block;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  overflow: hidden;
  margin-left: 50px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.effect8
{
  box-shadow: 0px 0.5px 2px rgba(0,0,0,0.2);
}


.example-container{
  margin-left: 20px ;
  display: inline-block;
  vertical-align: text-top;
  height: 100%;
  margin-left: 3%;
  width: 40%;
  h1{
    color: #FFA87D;
  }
}

.progress-container{
  margin-left: 5% ;
  display: inline-block;
  height: 100%;
  vertical-align: text-top;
  width: 43%;
  h1{
    color: #00B5B8;
  }
}
.example-box {
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  color: rgba(0, 0, 0, 0.87);
  box-sizing: border-box;
  cursor: move;
  background-color: white;
  font-size: 14px;
  margin: 20px;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 5px;
  -webkit-box-shadow: 0 3px 6px -6px #777;
     -moz-box-shadow: 0 3px 6px -6px #777;
          box-shadow: 0 3px 6px -6px #777;
  h2{
    display: inline-block;

  }
}
h2{
  color: #AFB3C0;
}
.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
  background-color: rgba(255, 255, 255, 0.5)
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-custom-placeholder {
 opacity: 0;
}
.example-custom-placeholder1 {
  opacity: 0;
}
.mat-card-title{
  font-size: medium;

}
.mat-card{
  margin-bottom: 10px;
}
h2,p::first-letter{
  text-transform: capitalize;

}
h1{
  font-weight: bolder;

}

.delete{
  .example-box{
    visibility: hidden;
  }
  display: inline-block;
  bottom: 10px;
  right: 10px;
  position: fixed;
  height: 50px;
  width: 50px;
}

.description{
  padding-left: 30px;
  margin-right: 20px;
  padding-bottom: 10px
}


button{
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.wrapper{
  background-color: #EFF1F5;
  height: 100%;
  overflow-y: hidden;
  width: 100%;
  overflow-x: hidden;
  // display: inline-block;
  // width: 93%;
}

.in-progress{
  height: 42%;
  overflow-y: auto;
}

.completed{
  height: 40%;
  overflow-y: auto;
}

.my-tasks{
  height: 90%;
  overflow-y: auto;
}


::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {

  opacity: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: gainsboro ;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 5px;
}

p{
  color: #81818A;
  font-size: large;
  .material-icons{
    color: black;font-size: small;
  }
}

.time{
  display: inline-block;
  position: absolute;
  right: 20px;
  font-size: medium;
  margin-top: 5px;
  color: #81818A;
}

.green{
  color:#32CD32
}