<div class="wrapper">
  <div class="example-container">
    <h1>My Tasks</h1>
    <div
        cdkDropList
        #incompleteList="cdkDropList"
        [cdkDropListData]="data"
        class="example-list my-tasks effect8"
        [cdkDropListConnectedTo]="[inProgressList,completedList,deleteItem]"
        (cdkDropListDropped)="drop($event)"
        >
        <div class="example-box" *ngFor="let item of data" cdkDrag>
            <app-task-box *ngIf="checkStatus(item.status)" [item]="item"></app-task-box>
            <img *cdkDragPreview [src]="'https://img.pngio.com/drag-drag-and-drop-dragdrop-drop-move-replace-icon-drag-and-drop-png-512_512.png'" height="40px" width="auto">
        </div>
      </div>
  </div>
  <div class="progress-container">
      <h1>In Progress</h1>
      <div cdkDropList
        #inProgressList="cdkDropList"
        [cdkDropListData]="data"
        class="example-list in-progress effect8"
        [cdkDropListConnectedTo]="[completedList]"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of data" cdkDrag >
            <app-task-box *ngIf="checkProgress(item.status)" [item]="item"></app-task-box>
            <img *cdkDragPreview [src]="'https://img.pngio.com/drag-drag-and-drop-dragdrop-drop-move-replace-icon-drag-and-drop-png-512_512.png'" height="30px" width="auto">
        </div>
      </div>

      <h1 class="green">Completed</h1>
      <div
        cdkDropList
        #completedList="cdkDropList"
        [cdkDropListData]="data"
        class="example-list completed effect8"
        (cdkDropListDropped)="drop($event)"
        >
          <div class="example-box" *ngFor="let item of data" cdkDrag >
              <app-task-box *ngIf="isComplete(item.status)" [item]="item"></app-task-box>
              <img *cdkDragPreview [src]="'https://img.pngio.com/drag-drag-and-drop-dragdrop-drop-move-replace-icon-drag-and-drop-png-512_512.png'" height="40px" width="auto">
        </div>
      </div>
    </div>
  <button mat-fab color="primary">
    <mat-icon>delete</mat-icon>
  </button>
  <div class="delete" cdkDropList
      #deleteItem="cdkDropList"
      (cdkDropListDropped)="drop($event)">
  </div>

</div>
