.progress {
    height: 7em;
    width: 7em;
}
.welcome {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.name {
    font-size: 1.5em;
    font-weight: 450;
}
.recent {
    color: rgb(150, 150, 150);
    font-weight: 500;
    font-size: 0.8em;
    padding-top: 1.8em;
}
.completed {
    background-color: rgb(36, 131, 255);
    color: white;
    font-weight: 500;
}
.duration {
    display: block;
    font-size: smaller;
    color: rgb(211, 211, 211);
}
.material-icons {
    position: absolute;
    right: 1em;
    top: 1em;
}
