<mat-card class="mat-elevation-z10 cards">
  <div class="welcome">
    <div class="note">
      <p class="name">Welcome ! Gowtham</p>
      <p class="goal">You have completed 70% of your work</p>
    </div>
    <div class="progress">
      <circle-progress
        [percent]="70"
        [radius]="50"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="10"
        [space]="-10"
        [outerStrokeColor]="'#008FEA'"
        [innerStrokeColor]="'#e7e8ea'"
        [titleFontSize]="20"
        [unitsFontSize]="20"
        [showSubtitle]="true"
        [animation]="true"
        [animationDuration]="300"
        [startFromZero]="false"
        [responsive]="true"
      ></circle-progress>
    </div>
  </div>
  <p class = "recent">RECENTELY COMPLETED</p>
  <mat-card class="completed">
    Amazon Web Services<span class="material-icons">more_vert</span>
    <span class="duration">9hours</span>
  </mat-card>
</mat-card>
