
.admin {
    display: grid;
    grid-gap: 3em;
    padding: 2em 3em 0 2em;
}
.tableList {
    display: grid;
    grid-gap : 1em;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: initial;
}

