<div class="admin">
    <app-peoples></app-peoples>
    <div class = "tableList">
        <app-people-list></app-people-list>
        <app-project-list></app-project-list>
    </div>
    <app-charts></app-charts>
</div>