.title {
    font-weight: 500;
}
.results {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    position: relative;
}

.progress {
    width: 15em;
    display: flex;
}
.percentage {
    position: absolute;
    right:1em;
    top:0rem;
    font-size: small;
    color: rgb(128, 126, 126);
}
