<mat-card class="mat-elevation-z10 cards results">
  <p class="title">KNOWLEDGE</p>
  <ng-container *ngFor="let msg of message; index as count">
    <div class="data">
      <div  [ngClass]="topic">{{msg.technology}}</div>
      <div class="progress">
        <div class="percentage">{{msg.value}}%</div>
        <mat-progress-bar mode="determinate" value="{{msg.value}}"></mat-progress-bar>
      </div>
    </div>
  </ng-container>
</mat-card>
