
<div class="container mt-5 col-lg-4 card p-0">
  <h2 class="card-header text-center">Sign in</h2>
    <form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
        <div class="mb-3 px-3 py-2">
          <label for="exampleInputEmail1" class="form-label">Email</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="email" placeholder="Enter email">
          <div *ngIf="h.email.errors && h.email.touched" class="text-warning">
            <div *ngIf="h.email.errors.required">
              Email is required
            </div>
            <div *ngIf="h.email.errors.email">
              Email must be a valid email address
            </div>
          </div>
        </div>
        <div class="mb-1 px-3">
          <label for="exampleInputPassword1" class="form-label" >Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password" placeholder="Enter password">
          <div *ngIf="h.password.errors && h.password.touched" class="text-warning">
            <div *ngIf="h.password.errors.required || submitted">
              Password is required
            </div>
            <div *ngIf="h.password.errors.minlength">
              Password must be atleast 8 characters
            </div>
          </div>
        </div>
        <a [routerLink]="['/forgotPassword']" class="p-3">Forgot Password?</a><br>
        <div class="text-center">
          <button type="submit" class="btn btn-primary m-2">Submit</button>
        </div>
    </form>

</div>


