div {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr;
    justify-items: stretch;
    padding-bottom: 2em;
}
p {
    // text-align : center;
    font-size: 1.5em;
    font-weight: 500;
    padding-bottom: 1em;
}
canvas {
    width: 90%;
}