<div>
  <mat-card class="mat-elevation-z10 cards">
      <p>Projects Completed</p>
    <canvas id="lineChart"></canvas>
  </mat-card>
  <mat-card class="mat-elevation-z10 cards">
      <p>Revenues Earned</p>
    <canvas id="barChart"></canvas>
  </mat-card>
</div>
