table {
    width: 100%;
    white-space: nowrap;
}
p {
    font-size: 2em;
    font-weight: 500;
}
.mat-column-name {
    padding-left: 2em;
}
.mat-column-designation {
    padding-left: 2em;
}
.mat-column-email {
    padding-left: 2em;
}

.table {
    overflow-x: scroll;
    overflow-y: scroll;
    &::-webkit-scrollbar { width: 0 !important }

}
// mat-card {
//     max-width: 1fr;
        // display: block;
        // width: 100%;
        // overflow-x: scroll;
        // max-width: 1fr;
        // .mat-table {
        //     width: 100%;
        //     max-width: 100%;
        //     margin-bottom: 1rem;
        //     display: table;
        //     border-collapse: collapse;
        //     margin: 0px;
        // }
        // .mat-row,
        // .mat-header-row {
        //     display: table-row;
        // }
        // .mat-cell,
        // .mat-header-cell {
        //     word-wrap: initial;
        //     display: table-cell;
        //     padding: 0px 5px;
        //     line-break: unset;
        //     width: auto;
        //     white-space: nowrap;
        //     overflow: hidden;
        //     vertical-align: middle;
        // }
// }
