<mat-card class="example-card">
  
  <div class="left-part">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <div class="spacer">
      <mat-card-title>Haritha Jaysankar</mat-card-title>
      <mat-card-subtitle>Web Developer</mat-card-subtitle>
      <h4>Employee ID: FT-0001</h4>
    <mat-card-subtitle>Date of Join : 1st Jan 2013</mat-card-subtitle>
    </div>
    </mat-card-header>
      
  </div>
  <div class="right-part">
    

    <table mat-table *ngFor="let data of dataSource">  
  
        <tr>
          <td>Phone</td>
          <td class="blue">{{data.phone}}</td>
        </tr>
        <tr>
          <td>Email</td>
          <td class="blue">{{data.email}}</td>
        </tr>
        <tr>
          <td>Birthday</td>
          <td class="lighter">{{data.dob}}</td>
        </tr>
        <tr>
          <td>Address</td>
          <td class="lighter">{{data.address}}</td>
        </tr>
        <tr>
          <td>Gender</td>
          <td class="lighter">{{data.gender}}</td>
        </tr>
       
</table>

  </div>
</mat-card>
    
  
  
