@import "../../../../../variables";
.example-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.left-part{
  float: left;
}
.right-part{
  float: right;
}
table {
  width: 100%;
  height: 100%;
  
}

.example-header-image {
  background-image: url('https://cdn.vox-cdn.com/thumbor/2aZdbHG9Cu-rvgtNvT7z88ZOB6o=/0x0:1280x640/920x613/filters:focal(467x58:671x262):format(webp)/cdn.vox-cdn.com/uploads/chorus_image/image/55115281/wonderwoman2.0.jpg');
  background-size: cover;
  width: 100px;
  height: 100px;
  border-radius: 50%;  
  
}

.spacer{
  margin-top: 2%;
}
.mat-card-subtitle{
  font-weight: 600;
  opacity: 0.7;
  font-size: 12px;
}
h4{
  font-weight: 500;
}
.mat-card-title{
  font-size: 24px;
}
td{
  font-weight: 500;
}
tr >.blue{
  color: $blue;
}
tr >.lighter{
  opacity: 0.8;
}