p {
  font-family: Lato;
}
.main_content {
  width:100%;
  height: 100%;
}
app-drag-and-drop {
  height : 100%;
}

mat-sidenav-content {
  height : 100%;
}

.sidenav-container{
  /* Firefox */
height: -moz-calc(100% - 64px);
/* WebKit */
height: -webkit-calc(100% - 64px);
/* Opera */
height: -o-calc(100% - 64px);
/* Standard */
height: calc(100% - 64px);
}
