<!-- <app-admin></app-admin> -->
<!-- <app-reports></app-reports> -->
<app-navbar></app-navbar>


  <app-header [sidenav]="leftSidenav"></app-header>
  <mat-sidenav-container class="sidenav-container" >
    <mat-sidenav #leftSidenav mode="side" opened>
      <app-sidenav></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content [@onMainContentChange]="onSideNavChange ? 'open': 'close'">
      <div class="main_content" >
          <!-- <app-user-profile></app-user-profile> -->
          <!-- <app-admin></app-admin> -->
          <router-outlet></router-outlet>
          <!-- <app-drag-and-drop></app-drag-and-drop> -->
          <!-- <app-reports></app-reports> -->
          <!-- <app-drag-and-drop></app-drag-and-drop> -->
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
