.user_profile{
  display: grid;
  grid-gap: 2em;
}
.user_profile{
  grid-template-columns: 100%;
}
.details{
  display: grid;
  grid-gap: 2em;
  grid-template-columns: 1fr 1fr;
}
.edu-exp-details{
  display: grid;
  grid-gap: 2em;
  grid-template-columns: 1fr 1fr;
}