<div class="user_profile">
	<div class="profile-detail">
    <app-profile-details></app-profile-details>
    
  </div>
  <div class="details">
    <app-personal-details></app-personal-details>
    <app-emergency-details></app-emergency-details>
  </div>

<div class="edu-exp-details">
  <app-edu-details></app-edu-details>
  <app-experience-details></app-experience-details>
</div>
</div>
