<h2>{{item.name}}</h2>
<div class="time">
  {{item.time}}
</div>
<p class="description" *ngFor="let desc of item.description">
  <!-- <span class="material-icons">
    fiber_manual_record
    </span> -->
  {{desc}}
</p>

