.description{
  padding-left: 30px;
  margin-right: 20px;
  padding-bottom: 15px
}
h2{
  color: #AFB3C0;
  margin-bottom: 5px;
  padding-top: 5px;
}

h2,p::first-letter{
  text-transform: capitalize;

}
h1{
  font-weight: bolder;

}
p{
  color: #81818A;
  font-size: large;
  .material-icons{
    color: black;font-size: small;
  }
}

.time{
  display: inline-block;
  position: absolute;
  right: 20px;
  font-size: medium;
  top: 5px;
  color: #81818A;
}
