@import "./_variables.scss";
.welcome {
    font-size: 1.7em;
    font-weight: 500;
    padding-bottom: 0.8em;
}
p {
    color : $sub-heading;
    font-weight: 500;
}
.dashboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1.5em;
}
.count {
    font-size: 2em;
    font-weight: 500;
    padding: 0.5em 0 0.5em 0;
}
.cards {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding : 1.5em;
    border-radius: 5%;
    background-color: $count-background;
}
.material-icons {
    font-size: 3em;
    color: $icon-color;
}
.value {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}