<div class="welcome">Welcome ! Admin</div>
<p>DASHBOARD</p>
<div class="dashboard">
    <ng-container *ngFor="let msg of countValues; index as count">
    <mat-card  class="mat-elevation-z10 cards">
        <div class = "logo">
            <span class="material-icons">{{msg.logo}}</span>
        </div>
        <div class = "value">
            <div class="count">{{msg.count}}</div> 
            <div class="role">{{msg.name}}</div>
        </div>
    </mat-card>
</ng-container>
    <!-- <mat-card  class="mat-elevation-z10 cards">
        <div class = "logo">
            <span class="material-icons">developer_board</span>
        </div>
        <div class = "value">
            <div class="count">190</div> 
            <div class="role">Employees</div>
        </div>
    </mat-card>
    <mat-card  class="mat-elevation-z10 cards">
        <div class = "logo">
            <span class="material-icons">developer_mode</span>
        </div>
        <div class = "value">
            <div class="count">190</div> 
            <div class="role">Employees</div>
        </div>
    </mat-card>
    <mat-card  class="mat-elevation-z10 cards">
        <div class = "logo">
            <span class="material-icons">account_circle</span>
        </div>
        <div class = "value">
            <div class="count">190</div> 
            <div class="role">Employees</div>
        </div>
    </mat-card> -->
</div>