<div class="container mt-5 w-50 text-center">
    <div class="card">
      <h5 class="card-header">Verify email</h5>
      <div class="card-body">
        <h5 class="card-title">Enter your verification code</h5>
        <p class="card-text" style="font-size: 0.9em;">(Please check your email for verification code)</p>
  
        <div class="col-lg-4 m-auto">
          <input type="any" class="form-control w-10 my-2" name="username" [(ngModel)]="username" placeholder="Enter username">
        </div>
  
        <div class="col-lg-4 m-auto">
          <input type="any" class="form-control w-10" name="code" [(ngModel)]="code" placeholder="Enter code">
        </div>
        
        <a class="btn btn-primary mt-4" (click)="confirmSignUp()">Verify</a>
      </div>
    </div>
  </div>
  
  