<mat-card class="example-card">
  <mat-card-title>PERSONAL DETAILS</mat-card-title>
  <table mat-table *ngFor="let data of dataSource">  
  
    <tr>
      <td>Passport No</td>
      <td class="lighter">{{data.passportno}}</td>
    </tr>
    <tr>
      <td>Tel</td>
      <td class="lighter">{{data.tel}}</td>
    </tr>
    <tr>
      <td>Nationality</td>
      <td class="lighter">{{data.nationality}}</td>
    </tr>
    <tr>
      <td>Religion</td>
      <td class="lighter">{{data.religion}}</td>
    </tr>
  
    <tr>
      <td>Martial Status</td>
      <td class="lighter">{{data.emp}}</td>
    </tr>
    <tr>
      <td>No. of Children</td>
      <td class="lighter">{{data.childcount}}</td>
    </tr>
   
</table>
</mat-card>