<mat-card class="example-card">
  <mat-card-title>EMERGENCY CONTACTS</mat-card-title>
  <table mat-table *ngFor="let data of primary">  
    <p>PRIMARY</p>
    <tr>
      <td>Name</td>
      <td class="lighter">{{data.name}}</td>
    </tr>
    <tr>
      <td>Relationship</td>
      <td class="lighter">{{data.relationship}}</td>
    </tr>
    <tr>
      <td>Phone</td>
      <td class="lighter">{{data.phone}}</td>
    </tr>
  </table>
    <hr>
    <table mat-table *ngFor="let data of secondary">  
    <p>SECONDARY</p>
    <tr>
      <td>Name</td>
      <td class="lighter">{{data.name}}</td>
    </tr>
    <tr>
      <td>Relationship</td>
      <td class="lighter">{{data.relationship}}</td>
    </tr>
    <tr>
      <td>Phone</td>
      <td class="lighter">{{data.phone}}</td>
    </tr>
  
   
  </table>
</mat-card>