<mat-card class="example-card">
  <mat-card-title>EDUCATION DETAILS</mat-card-title>
  <mat-card-header>
    <mat-card-title class="title">International College of Arts and Science (UG)</mat-card-title>
    <mat-card-subtitle> Bsc Computer Science</mat-card-subtitle>
    <mat-card-subtitle> 2000 - 2003</mat-card-subtitle>
</mat-card-header>
<mat-card-header>
  <mat-card-title class="title">International College of Arts and Science (PG)</mat-card-title>
  <mat-card-subtitle>Msc Computer Science</mat-card-subtitle>
  <mat-card-subtitle> 2003 - 2005</mat-card-subtitle>
</mat-card-header>
</mat-card>