/* You can add global styles to this file, and also import other style files */

@import "./_variables.scss";
@import "~bootstrap/scss/bootstrap.scss";
@import "~ngx-toastr/toastr";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-progress-bar-fill::after {
  background-color:$icon-color;
}
.mat-progress-bar-buffer {
  background: #E4E8EB;
}
.mat-progress-bar {
  border-radius: 2px;
}
