table {
    width: 100%;
}

img {
    height: 30px;
    width : 30px;
}
.percentage {
    position: absolute;
    right:0em;
    top:-1.2rem;
    font-size: small;
    color: rgb(128, 126, 126);
}
.progress {
    position: relative;
}
::ng-deep .mat-progress-bar {
    border-radius: 10px;
}

canvas{
    width: 90%;
}